
@import url("https://fonts.googleapis.com/css?family=Inter");
@import url('https://fonts.cdnfonts.com/css/bebas-neue');

/*Common to all*/

body{
    background-color:#b9a684 ;
}

.bodybgcolor{
    background-color:#b9a684 ;
}

.top-marquee{
    background-color: #1c4b4b;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
  
}
.nav-link {
    color: #1d7c7c !important;
    font-family:'Inter', sans-serif;
    
    font-size: 12px;
    font-weight: 900;
    padding: 0 10px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.changecolour{
    background-color: #343434;
}
.inter{
    font-family: 'Inter', sans-serif;
    color: aliceblue;
}
.bebas-neue{
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    font-weight: 1000;
    font-style: bold;
}

.bebas-neue-sub{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    font-weight: 1000;
    font-style: bold;
}

/* Home Page */



.centertopcardtext{
    position:relative;
    top:50%;
    transform: translate(0,-50%);
}

.centertopcardsubtext{
    position:absolute;
    top: 70%;
    transform: translate(0,0%);
}







